*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-size: clamp(16px, 1vw, 20px);
}

body{
   height: 100%;
   width: 100%;
   padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    border: 2px solid black;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pg2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pg2t{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.pg2t button{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 35vw;
    background-color: black;
    color: white;
}

.line{
    background-color: black;
    height: 1px;
}

.pg2b{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.elem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2{
        font-size: 2rem;
    }
}
.elem img{
    width: 5rem;
    border-radius: 10%;
}

h3{
    opacity: 0.7;
    font-weight: normal;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    width: 70%;
}
.hero img{
    width: 100%;
    height: 22%;          
    object-fit: cover;      
    object-position: center;
    border-radius: 5%;
    display: block;
}
h2{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
}



@media (min-Width:1020px) {

    html,body{
        padding: 0.5rem;
    }
    section{
        padding: 2.4rem;
        gap: 0;
    }
    h1{
        width: 50%;
        font-size: 5rem;
        line-height: 1.2;
    }
    img{
        border-radius: 1%;
        margin: 2rem 0;
    }
    .pg2t{
        width: 60%;
    }
    .pg2t h2{
        font-size: 4rem;
        br{
            display: none;
        }
    }
    .pg2t button{
        width: 10vw;
    }
    .pg2{
        flex-direction: row;
        gap: 3rem;
    }
    .line{
       height: initial;
       width: 1px;
    }
    .pg2b .line{
        height: 1px;
        width: 100%;
        align-self: stretch;
    }
    
}