*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

body{
   width: 100%;
   background-color: black;
   color: white;
   font-family: 'Courier New', Courier, monospace;
}

.hero{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center; 
   gap: 5vh;
   padding: 9vw;
}

img{
   width: 100%;
   object-fit: cover;
}

h1{
   font-weight: lighter;
   font-size: 3em;
}
p{
   font-weight: bold;
   line-height: 1.5;
   margin: 1rem 0;
   opacity: 0.7;
}
br{
   display: none;
}


@media (min-Width:1020px) {
   img{
      width: 35%;
   }
   h1{
      font-size: 6.5rem;
   }
   .hero{
      padding:1vw 10vw;
   }
   p{
      font-size: 1.4rem;
      font-weight: lighter;
   }
   br{
      display: block;
   }
}
