*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

body{
   width: 100%;
   background-color: black;
   color: white;
   font-family: 'Courier New', Courier, monospace;
}

.hero{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center; 
   gap: 5vh;
   padding: 9vw;
}

img{
   width: 100%;
   object-fit: cover;
}

h1{
   font-weight: lighter;
   font-size: 3em;
}
p{
   font-weight: bold;
   line-height: 1.5;
   margin: 1rem 0;
   opacity: 0.7;
}
br{
   display: none;
}

.pg2{
   display: flex;
   justify-content: center;
   padding: 3vh 3vw;
}

.marque{
   display: flex;
   width: 60%;
   overflow: hidden;
   position: relative;

   &::after{
      content: "";
      height: 100%;
      width: 30%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, black, transparent);
   }
   &::before{
      content: "";
      height: 100%;
      width: 30%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to left, black, transparent);
      z-index: 3;
   }
}
.text{
   display: flex;
   gap: 2rem;
   padding: 0 1rem;
   animation: marque 13s linear infinite both;
}
.text p{
   font-weight: bold;
   font-size: 2rem;
}

@keyframes marque {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-100%);
   }
}


@media (min-Width:1020px) {
   html{
      font-size: clamp(16px, 1vw, 20px);
   }
   img{
      width: 35%;
   }
   h1{
      font-size: 6.5rem;
   }
   .hero{
      padding:1vw 10vw;
   }
   p{
      font-size: 1.4rem;
      font-weight: lighter;
   }
   br{
      display: block;
   }
}

@media (max-Width:1020px) {
   .marque{
      width: 85%;
   }
   .text p{
      font-size: 1.2rem;
   }
   .pg2 {
      padding: 1vh 3vw;
   }
}