@import 'tailwindcss';
*{
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
   background-color: black;
   color: white;
}

.btn-body{
   @apply px-4 py-2 font-semibold bg-emerald-600 text-white rounded;
}