*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
   background: linear-gradient(to right, rgb(0, 0, 125), rgb(86, 1, 86));
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#outer{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

#card{
   width: 40%;
   height: 60%;
   background-color: white;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 4rem;
   gap: 2rem;
}

#taker{
   font-size: 1rem;
   padding: 0.75rem 4.5rem 0.75rem 1.5rem;
   border-radius: 30px;
   border: hidden;
   background-color: rgb(230, 227, 227);
}

#addbtn{
   padding: 0.75rem 2.5rem;
   border-radius: 30px;
   border: 0;
   background-color: orangered;
   color: white;
   font-weight: bold;
   font-size: 1rem;
}

#todolist{
   width: 100%;
   height: 70%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.todo-container{
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0 5rem;
   justify-content: space-between;
}

.todo-delete{
   padding: 0.25rem 0.75rem;
   border-radius: 10px;
   background-color: darkred;
   color: white;
   font-weight: bold;
}

.todo-left{
   display: flex;
   align-items: center;
   gap: 1rem;
}

.todo-text{
   color: black;
}

.todo-text-active{
   text-decoration: line-through;
   color: grey;
}

.todo-check{
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url("unchecked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}


.todo-check-active{
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url("checked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
